<div class="row">
    <div class="col-md-12 alert-content">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" ng-if="alertMessage">
            {{ alertMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert alert-danger alert-dismissible fade show" role="alert" ng-if="errorMessage">
            {{ errorMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ title }}</h1>
    <h6 ng-if="seasonReportResponse.totalGamesPlayed > 0">
        {{ seasonReportResponse.season.start | date: 'dd/MM/yyyy' }} até
        {{ seasonReportResponse.season.end | date: 'dd/MM/yyyy' }}
    </h6>
</div>

<div class="list-group">
    <div class="list-group-item">
        <div class="row">
            <div class="col-md-10">Jogos disputados</div>
            <div class="col-md-2 text-score">{{ seasonReportResponse.totalGamesPlayed }}</div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="row">
            <div class="col-md-10">Total de pontos marcados na temporada</div>
            <div class="col-md-2 text-score">{{ seasonReportResponse.totalSeasonScores }}</div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="row">
            <div class="col-md-10">Média de pontos por jogo</div>
            <div class="col-md-2 text-score">
                {{ seasonReportResponse.averageSeasonScores }}
            </div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="row">
            <div class="col-md-10">Maior pontuação em um jogo</div>
            <div class="col-md-2 text-score">{{ seasonReportResponse.maxScore }}</div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="row">
            <div class="col-md-10">Menor pontuação em um jogo</div>
            <div class="col-md-2 text-score">{{ seasonReportResponse.minimumScore }}</div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="row">
            <div class="col-md-10">
                Quantidade de vezes que bateu o próprio recorde
            </div>
            <div class="col-md-2 text-score">{{ seasonReportResponse.totalRecordBroken }}</div>
        </div>
    </div>
</div>
